@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
        url('/public/fonts/YekanBakhFaNum-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
        url('/public/fonts/YekanBakhFaNum-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    // url('/public/fonts/iranyekan.eot') format('eot'),
    // url('/public/fonts/iranyekan.woff') format('woff'),
    // url('/public/fonts/iranyekan.ttf') format('truetype'),
    url('/public/fonts/YekanBakhFaNum-Regular.woff2') format('woff2');
  }
@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    // url('/public/fonts/iranyekan.eot') format('eot'),
    // url('/public/fonts/iranyekan.woff') format('woff'),
    // url('/public/fonts/iranyekan.ttf') format('truetype'),
    url('/public/fonts/YekanBakhFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: 
    // url('/public/fonts/iranyekanbold.eot') format('eot'),
    // url('/public/fonts/iranyekanbold.woff') format('woff'),
    // url('/public/fonts/iranyekanbold.ttf') format('truetype'),
    url('/public/fonts/YekanBakhFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
        url('/public/fonts/YekanBakhFaNum-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBakh';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
        url('/public/fonts/YekanBakhFaNum-Black.woff2') format('woff2');
}