.v-btn-toggle {
  height: var(--v-btn-height) !important;

  .v-btn {
    border-radius: 0 !important;
    padding: 8px !important;
    width: var(--v-btn-height) !important;

    svg {
      margin: 0 !important;
    }
  }
  .v-btn--variant-elevated {
    color: rgba(var(--v-theme-grey4), var(--v-high-emphasis-opacity))
  }
}