.v-btn-group .v-btn {
    height: inherit !important;
}

.v-btn-group {
    border-color: rgb(var(--v-theme-borderColor)) !important;
}

.v-btn {
    text-transform: capitalize;
    letter-spacing: 0;

    &.v-btn--icon {
        border-radius: 9999px !important;
    }
}

.v-btn--elevated:hover {
    box-shadow: none;
}

.v-btn.v-btn--density-default {
    --v-btn-height: 40px;
}

.v-btn.v-btn--density-comfortable {
    --v-btn-height: 36px;
}

.v-btn.v-btn--density-compact {
    --v-btn-height: 32px;
}

.v-btn__prepend {
    margin-inline-end: 4px !important;
}

.top-button {
    width: 150px !important;
}

.v-btn--variant-elevated {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

// elevated
.v-btn--variant-elevated:hover {
    opacity: 0.8 !important;
}

.v-btn--variant-elevated:focus-visible::after {
    border-width: 3px !important;
    opacity: .5 !important;
}

// tonal
.v-btn--variant-tonal:hover {
    .v-btn__overlay {
        opacity: 0 !important;
    }

    .v-btn__content {
        opacity: 0.8 !important;
    }
}

.v-btn--variant-tonal:focus-visible {
    .v-btn__overlay {
        opacity: 0 !important;
    }

    &:after {
        border-width: 2px !important;
        opacity: .1 !important;
    }

    .v-btn__content {
        opacity: 0.6 !important;
    }
}

.v-btn--variant-tonal:disabled {
    opacity: .4 !important;
}

// outlined
.v-btn--variant-outlined:hover {
    opacity: 0.6 !important;

    .v-btn__overlay {
        opacity: 0 !important;
    }
}

.v-btn--variant-outlined:focus-visible {
    border-width: 0 !important;

    .v-btn__overlay {
        opacity: 0 !important;
    }

    .v-btn__content {
        opacity: 0.9 !important;
    }
}

.v-btn--variant-outlined:disabled {
    opacity: .4 !important;
}

// text
.v-btn--variant-text:hover {
    opacity: 0.8 !important;

    .v-btn__overlay {
        opacity: 0 !important;
    }
}

.v-btn--variant-text:focus-visible {
    border-width: 0 !important;

    .v-btn__overlay {
        opacity: 0 !important;
    }

    &:after {
        border-width: 0px !important;
    }

    .v-btn__content {
        opacity: 0.7 !important;
    }
}

.v-btn--variant-text:disabled {
    opacity: .4 !important;
}