// variant
.v-input--density-default,
.v-field--variant-solo,
.v-field--variant-plain,
.v-field--variant-filled {
  --v-input-control-height: 40px !important;
  --v-input-padding-top: 1px !important;
}

// comfortable
.v-input--density-comfortable {
  --v-input-control-height: 40px !important;
  --v-input-padding-top: 3px !important;
}

// compact
.v-input--density-compact .v-field--variant-outlined {
  --v-input-control-height: 40px !important;

  input,
  textarea,
  .v-select__selection-text {
    font-size: 13px !important;
  }
}

.v-select .v-field .v-field__input>input {
  padding-top: 4px;
}
.v-field--variant-plain .v-label.v-field-label {
  top: 7px !important;
}

.v-label {
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
}

.v-switch .v-label,
.v-checkbox .v-label {
  opacity: 1;
}

.v-text-field__suffix {
  opacity: 1;
  padding-left: 20px;
}

.shadow-none .v-field--variant-solo {
  box-shadow: none !important;
}

.v-input--density-comfortable .v-field--no-label,
.v-input--density-default .v-field--variant-outlined {
  --v-field-padding-bottom: 6px !important;
}

.v-messages__message {
  font-size: 11px;
}

.v-text-field .v-input__details,
.v-file-input .v-input__details {
  padding-inline: 6px !important;
}

.v-select .v-field.v-field--disabled .v-field__input,
.v-field--disabled .v-field__append-inner {
  cursor: auto !important;
}

.v-field__input input::placeholder,
input::placeholder,
textarea::placeholder {
  font-size: 13px;
  color: rgb(var(--v-theme-grey3));
  font-weight: 400;
  display: flex;
  align-items: center;
}

input,
.v-select__selection-text,
textarea {
  font-size: 14px;
}

.v-field__append-inner,
.v-field__prepend-inner,
.v-field__clearable {
  align-items: center !important;
  font-size: 14px;
}

.v-field__outline {
  --v-field-border-width: 0!important;
}

.v-field--variant-outlined {
  border: 1px solid rgb(var(--v-theme-secondary2)) !important;
  border-radius: 8px;
  color: rgb(var(--v-theme-grey5)) !important;
}

.v-field--variant-outlined:not(.v-field--disabled):hover {
  border: 1px solid rgb(var(--v-theme-grey3));
  box-shadow: 0px 4px 12px 0px rgba(202, 207, 217, 0.08),
    0px 3px 8px 2px rgba(202, 207, 217, 0.12);
  ;
}

.v-field--error {
  border: 1px solid rgb(var(--v-theme-error4)) !important;
  box-shadow: 0px 4px 12px 0px rgba(252, 183, 166, 0.08),
    0px 3px 8px 2px rgba(252, 183, 166, 0.12);
  ;
}

.v-field--variant-outlined.v-field--focused {
  border: 1px solid rgb(var(--v-theme-primary2)) !important;
  color: rgb(var(--v-theme-grey4)) !important;
  box-shadow: 0px 4px 12px 0px rgba(0, 133, 219, 0.08),
    0px 3px 8px 2px rgba(0, 133, 219, 0.12) !important;
  ;
}

.file-input-wrapper {
  position: relative;
}
.always-placeholder {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 13px;
  color: rgb(var(--v-theme-grey4));
  font-weight: 400;
  opacity: .9 !important;
}

.v-input--disabled:not(.v-switch),
.v-autocomplete .v-field--disabled input {
  background-color: rgb(var(--v-theme-greyLightest)) !important;
  border-radius: 12px;
}

input:-internal-autofill-selected {
  border-radius: 12px;
}