.theme-tab {
    &.v-tabs {
        .v-tab {
            border-radius: $border-radius-root !important;
            min-width: auto !important;
            &.v-slide-group-item--active {
                background: rgb(var(--v-theme-primary));
                
            }
        }
    }
}

.v-tab:not(.v-tab--selected) span {
    color: rgb(var(--v-theme-grey5));
    font-size: 14px;
    font-weight: 400;
}

.v-slide-group__content {
    border-bottom: 1px solid #ddd;
}