.v-timeline--vertical.v-timeline.v-timeline--side-end .v-timeline-item .v-timeline-item__body{
    justify-self: auto;
}

.no-opposite-gap {
    &.v-timeline--side-end.v-timeline--align-start {
      grid-template-columns: 0 min-content auto !important;
    }
  }
  .no-opposite-gap.v-timeline--vertical.v-timeline.v-timeline--side-end
    .v-timeline-item
    .v-timeline-item__body {
    justify-self: unset !important;
  }
  
  .no-opposite-gap #time-text {
    .text {
      white-space: nowrap;
      font-size: 14px;
    }
  
    .bold {
      font-weight: 600;
      color: rgb(var(--v-theme-textPrimary));
    }
  
    .light {
      font-weight: 300;
      color: rgb(var(--v-theme-grey4));
    }
  
    .container-date {
      font-size: 12px;
    }
  
    .container-title {
      background: rgb(var(--v-theme-greyLightest));
      border: 1px solid rgb(var(--v-theme-grey2));
      border-radius: 8px;
    }
  
    .title-group > :first-child {
      color: rgb(var(--v-theme-grey5));
      font-size: 14px;
      padding-inline-end: 6px;
    }
    .title-group .text-sm {
      font-size: 14px;
    }
    .title-group span {
      white-space: nowrap;
    }
  }